<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>ADD NEW</h1>
    <form action="/products" method="post">
      <label for="name">ENTER THE NAME </label>
      <input type="text" name="name" id="name" placeholder="Enter the Name" />
      <label for="price">ENTER THE PRICE</label>
      <input
        type="number"
        name="price"
        id="price"
        placeholder="Enter the Price"
      />

      <select name="category" id="category">
        <option value="fruit">Fruit</option>
        <option value="vegetable">Vegetable</option>
        <option value="diary">Dairy</option>
      </select>
      <button>Submit</button>
    </form>
  </body>
</html>
