<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Details</title>
  </head>
  <body>
    <h1>Show</h1>
    <h2><%= item.name %> <br /></h2>
    <ul>
      <li><%= item.price %></li>
      <li><%= item.category %></li>
      <li><%= item._id %></li>
    </ul>
    <a href="/products">All Products</a>
  </body>
</html>
